/**
 * Add any custom CSS here.
 *
 * This file will be loaded after all other theme stylesheets.
 */

:root {
    --musician-blur: 0.35;
}

.musician-cart {
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 4px 4px 6px 3px rgba(128, 0, 32, var(--musician-blur));
}

.checkout-button {
    background-color: rgb(251, 79, 92) !important;
    text-align: center;
    text-transform: uppercase;
}
